<!--<h3 [ngStyle]= "titleStyle">
  Event binding
</h3>

<div>
    <button (click) ="doSomething($event)">Click me!</button>
</div>

<input type="number" [(ngModel)] = "num1"  >

<input type="number" [(ngModel)] = "num2" >

<div>{{num1 + num2}}</div>

{{someMessage}}-->