<!--<h1 [ngClass]="titleClass">
  App works!
</h1>
<div>
  <ul>
    <li *ngFor="let arr of myArray">
      {{arr}}
    </li>
  </ul>

    <button (click)="toggleVar()">Toggle</button><br>
    <button (dblclick) ="dblToggle()">Toggle back</button>
    <div *ngIf ="isTrue; then tmpl1 else tmpl2"></div>

    <ng-template #tmpl1> The variable is true </ng-template>
    <ng-template #tmpl2> The variable is false </ng-template>
</div>
 <div >
  <img [src]="imageLink">
 </div>
 <app-my-new-component></app-my-new-component>-->
 <p [@myAwesomeAnimation] = 'state' (click)= "animateMe()">I will animate</p>