h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5px;
    background :  #1aa3ff;
    border-radius: 5px;
}

h1{
    box-shadow: 1px 4px 4px rgba(0, 0, 0, .5);
    color: white;
}

.red-title {
    color : white;
    text-shadow: 2px 2px pink;
}

.large-title {
    font-size: 3em;
}

p{
    width: 200px;
    background: lightgray;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;

}